@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  position: fixed;
  width: 100%;
  display: flex;
}
#toTopBtn{
display: none;
}
#particles-js {
  display: none;
}

#particles-js2 {
  display: none;
}

.container section {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container section:nth-child(2) {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container section:nth-child(3) {
  min-width: 230%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container section:nth-child(4) {
  min-width: 110%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container section:nth-child(5) {
  min-width: 110%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container section:nth-child(6) {
  min-width: 120%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  /****************************** main setting for light code ****************************/
  --accent-color: #ea1828;
  --background-color: linear-gradient(180deg, #efefef 0%, #f7f7f7 100%);
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;
  /************************** end main setting for light code******************************/
  scrollbar-width: none !important;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
}

body.dark {
  --accent-color: white;
  --background-color: #202430;
  --text-color: white;
  background-color: var(--background-color);
}
.loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;    
  z-index: 10000000;
}

/* side-mobile */

.check-m {
  display: none;
}
.label-m {
  display: none;
}

.sidebar {
  display: none;
}

/* end side-mobile */

#header {
  z-index: 999999;
  overflow: hidden;
  margin: 1vh 2vw;
  height: 5vh;
  width: 95vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Abel', sans-serif;
  
}
#header i {
  display: none;
}

#svg-m {
  display: none;
}
.centerheader{
  pointer-events: none;
}
#header > #center > p {
  cursor: pointer;
  user-select: none;
  font-family: 'Abel', sans-serif;
  font-weight: 700;
}
.LINK {
  text-decoration: none;
  background-color: none;
  color: var(--text-color);
  transition: var(--transition-delay);
}
.theme-toggle-button {
  background-color: Transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transform: scale(1);
}

.theme-toggle-button:focus {
  background-color: transparent;
}

#header > #center {
  width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 15px; */
    /* color: bisque; */
    /* border-style: solid; */
    height: 30px;
}

#header > #end {
  width: 10vw;
  display: flex;
  justify-content: space-around;
}
#header > #end > .translate {
  font-family: 'Abel', sans-serif;
  background-color: inherit;
  border: none;
  cursor: pointer;
  
  transition: var(--transition-delay);
  font-size: 1em;
}
.dark .translate{
  color: white;
}
.activeLang{
  font-weight: bold;
  color: #E30A3E !important;

}
.content {
  display: flex;
  width: 100%;
  height: 93vh;
  margin: 7vh 0 0 0;
}



/* Page 1 */
/*Cookie Consent Begin*/
#cookieConsent {
  background-color: #E30A3E;
  width: 100vw;
  height: 13vh;

  color: white;
  padding: 8px 0 8px 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 9999;
}
#cookieConsent > .Cookietext {
  display: flex;
  justify-content: space-around;
  align-items: center;
width: 80vw;
padding: 1.5vh 1vh 1vh 1vh;
font-size: 1.1em;
}
#cookieConsent > .CookieBtn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10vw;
  padding: 1.5vh 1vh 1vh 1vh;
  transform: translateX(20%);
}
#cookieConsent a {
  text-decoration: none;
}

.cookieConsentOK {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.3vmin solid white;
  border-radius: 80px;
  width: 10vw;
  height: 5vh;
  color: white;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  padding: 1.5vh 1vh 1vh 1vh;
  right: 0%;
}

/*Cookie Consent End*/
/* footer */

#footer1 > #bottomPage1 {
  position: fixed;
  bottom: 1vh;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  margin: 0 2vw;
}

#footer1 > #bottomPage1 > .socMedia1 {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: none; */
}

#footer1 > #bottomPage1 > .socMedia1 #greyWrapper {
  background-color: #adb7cb;
  width: 5vmin;
  height: 5vmin;
  margin: 0 5% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  color: white;
}

#footer1 > #bottomPage1 > .socMedia1 #greyWrapper:hover {
  background-color: #e30a3e;
  transition: background-color 0.2s;
}



/* #footer1 > #bottomPage1 > .socMedia1 a {
  color: #E30A3E !important;
} */

.contactFooter1 {
  color: black;
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none
}
#footer1 > #bottomPage1 > #arrowAnim1 {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/*  */

#page1 {
  justify-content: center;
  flex-direction: column;
}
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  /* display: none; */
}
#page1 > #mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page1 > #mainPage > #leftSide {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10vmin;
  
}

#page1 > #mainPage > #leftSide > #upperCards > h2 {
  margin: 0;
  font-size: 3em;
}

#page1 > #mainPage > #leftSide > #upperCards > .typejs_box > #type > .line_1 {
  display: flex;
  width: 7vw;
  height: 0.7vh;
  background-color: #E30A3E;

}

#page1 > #mainPage > #leftSide > #upperCards > .typejs_box {
  /* margin: 1vh 0 0 0; */
  font-size: 2em;
  width: 100%;
}

.typed-cursor{
  display: none;
}
#typedEn{
  font-size: 1.4em;
}
#typedFr{
  font-size: 1.4em;
  display: none;
}
#page1 > #mainPage > #leftSide > #upperCards > p {
  margin: 0;
  font-size: 1.2em;
}

#page1 > #mainPage > #leftSide > #cards {
  display: flex;
}

#page1 > #mainPage > #leftSide > #cards > .card {
  width: 20%;
  margin: 1vh 10% 0 0;
  border-top: 0.4vh solid #E30A3E;
}

#page1 > #mainPage > #leftSide > #cards > .card > h2 {
  color: #E30A3E;
  margin: 1vh 0 0 0;
}

#page1 > #mainPage > #leftSide > #cards > .card > p {
  font-weight: bold;
  margin: 0.5vh 0 0 0;
}

#page1 > #mainPage > img {
  width: 50%;
  height: auto;
}

#page1 #bottomPage {
  width: 100%;
}
#page1 #bottomPage .icon {
  width: 100%;
}

#footer > #bottomPage {
  position: fixed;
  bottom: 3vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0px -1vw;
}

#footer > #bottomPage > .socMedia {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.contactFooter {
  color: #e30a3e;
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none
}
#footer > #bottomPage > #arrowAnim {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowX {
  width: 1vw;
  height: 1vw;
  border: 0.2vw solid;
  border-color: gray transparent transparent gray;
  transform: rotate(135deg);
  transition: var(--transition-delay);
}

.arrowSliding {
  position: absolute;
  animation: slide 6s linear infinite;
}
.delay1 {
  animation-delay: 2s;
}
.delay2 {
  animation-delay: 4s;
}
/* .delay3 {
  animation-delay: 3s;
} */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }
  20% {
    opacity: 1;
    transform: translateX(-2vw);
  }
  80% {
    opacity: 1;
    transform: translateX(2vw);
  }
  100% {
    opacity: 0;
    transform: translateX(5vw);
  }
}

/* Page 2 */

#page2 {
  /* background-color: bisque; */
}
#particles-js2{
  width: 700%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 100vw;
}
#page2 > #service {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Abel;
  color: #e30a3e;
}

#page2 > #service > h1 {
  transform: rotate(-90deg);
  font-size: 4em;
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-weight: normal;
}

#page2 > #mainWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#page2 > #mainWrapper > .card {
  width: 25%;
  display: flex;
  flex-direction: column;
}

#page2 > #mainWrapper > .card > h2 {
  margin: 0;
}

#page2 > #mainWrapper > .card > #outerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 5vh;
  color: #e30a3e;
  border: 0.3vmin solid #e30a3e;
  border-radius: 80px;
  cursor: pointer;
}

#page2 > #mainWrapper > .card > #outerLine > p {
  user-select: none;
  font-family: "Abel", sans-serif;
  font-weight: 400;
}

#outerLine .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

#collaps{
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

#collaps #close {
  cursor: pointer;
  border-radius: 100%;
  color: #efefef;
  background-color: #e30a3e;
  margin: -1.3% -2% 0% 0%;
  width: 2.5%;
  position: absolute;
  font-weight: 700;
  font-size: 1.5em;
}

#clsBTN1{
  cursor: pointer;
  transform: translateX(40%) translateY(-13%); 
}
#clsBTN1:hover .clsfillIn0{
    fill:#E2093D;
    transition: 0.5s;
}
#clsBTN1:hover .XXXfil1 {
  fill: white;
  transition: 0.5s;
}
/* #collaps i{
  cursor: pointer;
  margin: -1.3% -1% 0% 0%;
  position: absolute;

} */

#collaps p{
  padding: 15px;
}

#collaps #title {
  display: flex;
  align-self: center;
}

#collaps #image {
  display: flex;
  align-self: center;
}

#hide {
  display: block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  /* background-color: #f1f1f1; */
  /* animation: 2s; */
  width: 0%;
  height: 0%;
  border: 2px solid #e30a3e;
  border-radius: 15px;
  text-align: justify;


}

#hide2 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  /* background-color: #f1f1f1; */
  /* animation: 2s; */
  width: 22%;
  height: 45%;
  border: 2px solid #e30a3e;
  border-radius: 15px;
  text-align: justify;
  margin: 20px;

}

#hide3 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  /* background-color: #f1f1f1; */
  /* animation: 2s; */
  width: 22%;
  height: 45%;
  border: 2px solid #e30a3e;
  border-radius: 15px;
  text-align: justify;
  margin: 20px;

}



#m-service {
  display: none;
}



/* Page 3 */

#page3 {
  /* background-color: burlywood; */
  display: flex;
  /* flex-direction: column; */
}

.about-cont {
  display: none;
}

#page3 > #about {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Abel;
  color: #e30a3e;
}

#page3 > #about > h1 {
  transform: rotate(-90deg);
  font-size: 4em;
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.about1-m {
  display: none;
}
.about1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about1 .card-1 {
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about1 .card-1 p {
  font-weight: 400;
}

.about1 .card-1 h1 {
  color: #e30a3e;
}

.about1 .card-1 span {
  color: #e30a3e;
}
.about1 .card-1 #red {
  margin: 20vh 0 1vh 0;
  width: 20%;
  height: 0;
  border-bottom: 0.6vh solid red;
}

.about1 .card-2 {
  width: 70vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about1 .card-2 .card-content {
  display: flex;
  font-weight: 400;
}

.about1 .card-2 .card-content #red {
  margin: 15vh 0 1vh 0;
  width: 50%;
  height: 0;
  border-bottom: 0.6vh solid red;
}
#twoCouple{

}
#plus {
  width: 10vw;
  /* height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e30a3e; */
}
.icon1 > svg{
  display: block;
  margin: auto
}
.icon2 > svg{
  display: block;
  margin: auto
}
.icon3 > svg{
  display: block;
  margin: auto
}
.icon4 > svg{
  display: block;
  margin: auto
}
.icon5 > svg{
  display: block;
  margin: auto
}
/* #plus > h3 {
  width: 1.83vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: var(--transition-delay);
  border-radius: 50%;
  border: 0.1vh solid #E30A3E;
} */
.about2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  color: var(--text-color);
}
.about1 .card-2 h1 {
  color: #e30a3e;
}
.about2-mobile {
  display: none;
}

.group1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  height: 50%;

}

.group1 .gr2 {
  display: flex;
  align-items: flex-end;
  height: 70%;
  margin: 5% 0 0 0;
}

.gr2 .card {
  width: 25vw;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

}

.gr2 .card .card-image {
  display: flex;
  justify-content: center;
  height: 55%;

}

.gr2 .card .card-image img {
  height: 100%;
}

.gr2 .card .card-us1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: 2px solid var(--accent-color);
  height: 30%;
  transition: var(--transition-delay);
}
.dark .gr2 .card .card-us1 {
  background-color: #202430;
}
/* .gr2 .card .card-us1 #lol{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hvr {
  position: relative;
  width: 100%;
  /* transition: .5s ease; */
}

.overlaytxt {
  position: absolute;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  height: 100%;
  width: 100%;
  opacity: 0;
  /* transition: .5s ease; */
  /* display: none; */
}

.overlaytxt:hover {
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
}

.hvr:hover {
  opacity: 1;
  background: linear-gradient(47.66deg, #fd5f7a 0%, #fae4ae 100%);
  border-radius: 15px;
  height: 100%;
}

.txtt {
  color: #f2f2f2;
  font-size: 16px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
  width: 80%;
}

.container-card {
  position: relative;
  width: 20vw;
  /* display: flex;
  align-content: center; */
}
.container-car img {
  width: 10vw;
  display: flex;
  /* justify-content:center; */
}
.container-card .card-us1 {
  background-color: #fd5f7a;
  width: 24.6vw;
  border-radius: 15px;
  z-index: 99999;
}

.card-us1 .desk {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.card-us1 .desk p {
  margin: 0;
}

.card-us1 .icon {
  display: flex;
    justify-content: space-between;
    color: #e30a3e !important;
    width: 40%;
    font-size: 20px;
    z-index: 9999;

}

.card-us1 .icon .abouti {
  margin: 5px;
}

.card-us1 .icon .abouti a {
  color: #e30a3e !important;
  color: var(--text-color);
  text-decoration: none;
  transition: var(--transition-delay);
}

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  width: 24.6vw;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(47.66deg, #fd5f7a 0%, #fae4ae 100%);
  border-radius: 15px;
} */

.container-card:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#page4 {
  /* background-color: cornflowerblue; */
}

#page4 > #portofolio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Abel;
  color: #e30a3e;
}

#page4 > #portofolio > h1 {
  transform: rotate(-90deg);
  font-size: 4em;
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-weight: normal;
}

#page4 > #mainWrapper {
  width: 100%;
  display: flex;
}

#page6 > #mainWrapper > .m-carousel {
  display: none;
}

#page4 > #mainWrapper > #leftSide {
  margin: 0 0 0 5%;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page4 > #mainWrapper > #leftside > #pinkColor {
  margin: 0 0 5vh 0;
  font-size: 1.8em;
  font-weight: bold;
  color: #e30a3e;
}
/* #page4 > #mainWrapper > #leftSide #red{
margin: 20vh 0 1vh 0;
width: 20%;
height: 0;
border-bottom: 0.6vh solid red;
display: flex;
justify-content: flex-start;
} */

#page4 > #mainWrapper > #rightSide {
  width: 40%;
  height: 100%;
  margin: 0 0 0 10%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

#page4 > #mainWrapper > #leftSide .carousel {
  width: 37vw;
  /* background: #e60909; */
  /* margin: 0 60px; */
  /* display: flex; */
  /* justify-content: flex-start; */
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  /* background: #333; */
  color: black;
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-page-dots {
  position: absolute;
    width: 100%;
    bottom: -70px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button:hover {
  background: #f90;
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button .arrow {
  fill: black;
}
#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button .arrow {
  fill: black;
}


#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button.no-svg {
  color: white;
}

#page4
  > #mainWrapper
  > #leftSide
  .carousel
  .flickity-prev-next-button.previous {
  left: -40px;
}
#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button.next {
  right: -40px;
}

#page4 > #mainWrapper > #leftSide .carousel .card-horizontal {
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 
 #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .content-c {
   display: flex;
   justify-content: space-around;
   width: 100%;
  }
 
  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .tit h3 {
    margin: 1em 0 0 0;
    font-size: 1.5em;
  }
 
  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .tit #redLine {
   margin: 1vh 0 1vh 0;
   width: 10%;
   height: 0;
   border-bottom: 0.5vh solid red;
 }
 
  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .content-c .card-image {
  width: 25%;
   display: flex;
   align-items: center;
  
  }
 
  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .content-c .p {
   width: 70%;
   text-align: justify;
  }
 
 
 
 #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .card-image img {
   width: 100%;
   background-color: #4e596f;
   height: 8vh;
 }
 
 #page4 > #mainWrapper > #leftSide .carousel .flickity-slider {
   display: flex;
   align-items: center;
 }
 
 /* #page4 > #mainWrapper > #leftSide .carousel .card-horizontal p {
   width: 70%;
   text-align: justify;
 } */

#page4 > #mainWrapper > #leftSide .carousel .flickity-page-dots .dot {
  height: 4px;
  width: 20px;
  margin: 5;
  border-radius: 0;
  background: #e30a3e;
}

#page4 > #mainWrapper > #rightSide > #pinkColor {
  margin: 0 0 5vh 0;
  font-size: 1.8em;
  font-weight: bold;
  color: #e30a3e;
}

/* new */

#page4 > #mainWrapper > #rightSide .slideshow {
  margin-top: calc(50vh - 30vh);
  padding-bottom: 4vw;
}

#page4 > #mainWrapper > #rightSide .slideshow .flickity-viewport {
  height: 200px;
  touch-action: pan-y;
}

#page4 > #mainWrapper > #rightSide .slideshow .flickity-prev-next-button {
  display: none !important;
}

#page4 > #mainWrapper > #rightSide .slideshow img {
 padding-right: 10%;
}

#page4 > #mainWrapper > #rightSide .slideshow .slide {
  width: 10vw;
  /* max-resolution: 4vw;
  margin-right: 4vw; */
  text-align: center;
  height: 50vh;
  background-color: red;
  border-radius: 6px;
  color: #fff;
  font-family: 'Helvetica Neue', helvetica, arial;
  font-size: 24px;
  line-height: 50vh;
}

#page4 > #mainWrapper > #rightSide .slideshow .slide .card-image {
  height: 50vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* end new */



#page4 > #mainWrapper > #rightSide  .carousel {
  background: none;
  width: 30vw;
  display: none;
}

#page4 > #mainWrapper > #rightSide  .carousel .flickity-viewport {
  height: 153.562px !important;
  touch-action: pan-y;
  background-color: rgba(242, 223, 237, 0.3);
  border-radius: 15px;
  border: 2px solid rgba(227, 10, 62, 0.5);
}

#page4 > #mainWrapper > #rightSide  .carousel .flickity-slider {
  height: 153.562px !important;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#page4 > #mainWrapper > #rightSide .carousel .card-image {
  margin: 5%;
  width: 25%;
}

#page4 > #mainWrapper > #rightSide .carousel .card-image img {
  width: 95%;
}

#page4 > #mainWrapper > #rightSide .carousel .flickity-prev-next-button:hover {
  display: none;
}

#page4 > #mainWrapper > #rightSide .carousel .flickity-prev-next-button .arrow {
  display: none;
}

#page4 > #mainWrapper > #rightSide .carousel .flickity-prev-next-button {
  display: none;
}

#page4 > #mainWrapper > #rightSide .carousel .flickity-prev-next-button.no-svg {
  display: none;
}

#page4
  > #mainWrapper
  > #rightSide
  .carousel
  .flickity-prev-next-button.previous {
  display: none;
}

#page4 > #mainWrapper > #rightSide .carousel .flickity-prev-next-button.next {
  display: none;
}

#page4 > #mainWrapper > #rightSide .carousel .flickity-page-dots {
  display: none;
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-page-dots .dot {
  height: 2.3px;
  width: 20px;
  margin: 5;
  border-radius: 0;
  background: #e30a3e;
}

/* batas */

#page5 > #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e30a3e;
}

#page5 > #contact > h1 {
  transform: rotate(-90deg);
  font-size: 4em;
  width: 13vw;
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-weight: normal;
}

#page5 > #mainWrapper {
  width: 100%;
  display: flex;
}

#page5 > #mainWrapper > #leftSide {
  margin: 4% 0 0 0;
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page5 > #mainWrapper > #leftSide > p {
  margin: 0%;
  font-size: 1.5em;
}

#page5 > #mainWrapper > #leftSide > form {
  height: 61%;
  width: 100%;
}

#page5 > #mainWrapper > #leftSide > #pinkColor {
  margin: 0 0 5vh 0;
  font-size: 1.8em;
  font-weight: bold;
  color: #e30a3e;
}

#page5 > #mainWrapper > #leftSide > #my-form > input {
  border: 0;
  background-color: transparent;
  border-bottom: 0.3vh solid #e30a3e;
  height: 10%;
  width: 100%;
  font-size: 1.2em;
  margin: 0 0 1vh 0;
}

#page5 > #mainWrapper > #leftSide > #my-form > textarea {
  border: 0;
  background-color: transparent;
  border-bottom: 0.3vh solid #e30a3e;
  height: 40%;
  width: 100%;
  font-size: 1.2em;
  margin: 0 0 1vh 0;
}

#page5 > #mainWrapper > #leftSide > #my-form > #Request {
  border: 0;
  background-color: transparent;
  border-bottom: 0.3vh solid #e30a3e;
  height: 10%;
  width: 100%;
  font-size: 1.2em;
  margin: 0 0 1vh 0;
  color: #757575;
  
}

#page5 > #mainWrapper > #leftSide > #my-form > #messageX {
  display: flex;
  justify-content: flex-end;
}

#submitBtn {
  background-color: #e30a3e;
  width: 5vmin;
  height: 5vmin;
  border-radius: 10px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  /* display: flex; */
  /* align-items: center; */
}

#submitBtn i {
  margin-bottom: 5px;
}
#envelope {
  color: white;
}
#page5 > #mainWrapper > #rightSide {
  width: 40%;
  height: 80vh;
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

#page5 > #mainWrapper > #rightSide > #header1 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

#page5 > #mainWrapper > #rightSide > #subheader {
  font-size: 1.3em;
  margin-top: 1vh;
}
#Formstatus {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#page5 > #mainWrapper > #rightSide i {
  color: #E30A3E;
}

#page5 > #mainWrapper > #rightSide > #email {
  cursor: pointer;
  color: #88004f;
  user-select: none;
  margin: 1vh 0 0 0;
  font-size: 1.5em;
}


#page5 > #mainWrapper > #rightSide > #phone {
  margin: 1vh 0 0 0;
  font-size: 1.3em;

}

#page5 > #mainWrapper > #rightSide > #logos {
  width: 100%;
  margin: 2vh 0;
  display: flex;
  justify-content: flex-start;
}

#page5 > #mainWrapper > #rightSide > #logos1 {
  display: none;
}

#page5 > #mainWrapper > #rightSide > #logos2 {
  display: none;
}

#page5 > #mainWrapper > #rightSide > #logos > #greyWrapper {
  background-color: #adb7cb;
  width: 5vmin;
  height: 5vmin;
  margin: 0 5% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  color: white;
}

#page5 > #mainWrapper > #rightSide > #logos > #greyWrapper:hover {
  background-color: #e30a3e;
  transition: background-color 0.2s;
}

#page5 > #mainWrapper > #rightSide > #maps {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vmin;
  border: 0.4vmin solid rgba(227, 10, 62, 0.5);
}
#page5 > #mainWrapper > #rightSide > #maps > iframe {
  border-radius: 2vmin;

}
#page5 > #mainWrapper > p {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

#page5 > #mainWrapper > #leftSide > #send {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 5vmin;
  height: 5vmin;
  background-color: #e30a3e;
}

/* Page 6 */

/* #page6 {
  background-color: darksalmon;
} */

#page6 > #blog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e30a3e;
}

#page6 > #blog > h1 {
  transform: rotate(-90deg);
  font-size: 4em;
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-weight: normal;
}

#page6 > #mainWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
 #mobile-side {
  display: none;
}

#page6 > #mainWrapper > #leftSide {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}


#page6 > #mainWrapper > #leftSide #center-content {
  color: #e30a3e;
}


#page6 > #mainWrapper > #leftSide #content {
  display: flex;
}

#page6 > #mainWrapper > #leftSide > #content .row {
  margin: 0 1% 0 0;
}

#page6 > #mainWrapper > #leftSide > #content .row > #outerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  width: 8vw;
  height: 6vh;
  color: #e30a3e;
  border: 0.3vmin solid #e30a3e;
  border-radius: 15px;
  cursor: pointer;
  align-self: flex-end;
}

#page6 > #mainWrapper > #leftSide #content .row #outerLine:hover {
  background-color: #e30a3e;
  color: white;
  transition: background-color 0.5s;
}

#page6 > #mainWrapper > .carousel {
  background: transparent;
  width: 100%;
  height: 65%;
}

#page6 > #mainWrapper > .carousel .flickity-prev-next-button.previous {
  background-color: transparent;
}

#page6 > #mainWrapper > .carousel .flickity-viewport {
  height: 100% !important;
    touch-action: pan-y;
}
#page6 > #mainWrapper > .endContent {
  background: #e30a3e;
  width: 17%;
  height: 107vh;
  color: white;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
}
#page6 > #mainWrapper > .endContent > .topSide {
  height: 50%;
  width: 85%;
  margin-left: 2vw;
  margin-top: 10vh;
  font-size: 1.3em;
}
#page6 > #mainWrapper > .endContent > .topSide > .outerline {
  border: 0.3vmin solid white;
  border-radius: 60px;
  padding: 7%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  width: 85%;
}

#page6 > #mainWrapper > .endContent > .bottom {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  font-size: 1.3em;
}

#page6 > #mainWrapper > .endContent > .bottom a {
  color: white;
}

#page6 > #mainWrapper > .carousel .slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#page6 > #mainWrapper > .carousel .flickity-page-dots .dot {
  height: 2.3px;
  width: 20px;
  margin: 5;
  border-radius: 0;
  background: #e30a3e;

}

#page6 > #mainWrapper > .carousel .slide > .card {
  width: 23%;
  height: 85%;
  background: linear-gradient(180deg, #88004f 0%, #e30a3e 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 30px 0px;
}

#page6 > #mainWrapper > .carousel .slide > .card p {
  color: white;
  /* text-align: justify;
  width: 85%; */
}

#page6 > #mainWrapper > .carousel .slide > .card h2 {
  color: white;
  font-weight: 700;
}

#page6 > #mainWrapper > .carousel .slide > .card #dummy-blog {
  width: 85%;
}

#page6 > #mainWrapper > .carousel .slide > .card > .image {
  width: 100%;
  height: 50%;
  background-image: url("https://source.unsplash.com/1024x768/?mountains");
  background-position: center center;
  background-repeat: no-repeat;
}

#page6 > #mainWrapper > .carousel .slide > .card > .image > .leftBox {
  width: 7vmin;
  height: 8vmin;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#page6 > #mainWrapper > .carousel .slide > .card > .image > .leftBox > p {
  margin: 0;
}

/* #page6 > #mainWrapper > .carousel .slide > .card > #redLine {
  margin: 1vh 0 1vh 0;
  width: 20%;
  height: 0;
  border-bottom: 0.3vh solid red;
} */

#page6 > #mainWrapper > .carousel .slide > .card > p {
  margin: 0 0 1vh 1vw;
}

#page6 > #mainWrapper > .carousel .slide > .card > #bottom {
  display: flex;
    width: 100%;
    height: 34%;
    justify-content: flex-end;
    padding-bottom: 10px;
}

#page6 > #mainWrapper > .carousel .slide > .card > #bottom #outerLine {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5% 0 0;
    width: 47%;
    height: 28%;
    color: white;
    border: 0.3vmin solid white;
    border-radius: 24px;
    cursor: pointer;
    align-self: flex-end;
}

#page6 > #mainWrapper > .carousel .slide > .card > #outerLine > p {
  margin: 1vmin;
  font-family: "Abel", sans-serif;
  font-size: 14px;
}
.mobile-card {
  display: none;
}
.endfooter {
  display: none;
}

/* .carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.carousel-cell:before {
  height: 100%;
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

/* position dots in gallery */
/* #page6 > #mainWrapper > .carousel .flickity-page-dots {
  bottom: 0px;
} */
/* white circles */
/* #page6 > #mainWrapper > .carousel .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
} */
/* fill-in selected dot */
/* #page6 > #mainWrapper > .carousel .flickity-page-dots .dot.is-selected {
  background: white;
}
#page6 > #mainWrapper > .carousel .flickity-prev-next-button {
  width: 200px;
  height: 200px;
} */

/* Index 2 */

.index2 #content {
  width: 80%;
  margin-left: 10%;
}

/* ======================= */
