@media (max-width: 991px) 
{
  .container
  {
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    height: auto;
    transform: none !important;
  }

  /* sidebar */

  .check-m {
    display: block;
  }
  .label-m {
    display: block;
  }

  .sidebar {
    position: fixed;
    left: 100%;
    width: 60%;
    height: 145%;
    background: linear-gradient(180deg, #202430 0%, #202430 100%);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 100px;
  }
 
  .sidebar ul {
    height: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 67vh 0 0 0;
    font-size: 0.6em;
    width: 90%;
  }

  .sidebar ul #theme {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .sidebar ul #contact {
      font-size: 4em;
      color: #E30A3E;
      font-weight: 700;
  }

  .sidebar ul #icon {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      font-size: 1.5em;
  }


  .sidebar ul li {
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .sidebar ul a {
    display: block;
    font-size: 4em;
    color: white;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    transition: 0.4s;
  }
  ul li:hover a {
    padding-left: 50px;
  }
  .sidebar ul a i {
    margin-right: 16px;
  }
  #check {
    display: none;
  }
  label #btn,
  label #cancel {
    position: absolute;
    /* background: #042331; */
    border-radius: 3px;
    cursor: pointer;
    right: 6vw;
  }
  label #btn {
    left: 40px;
    top: 25px;
    font-size: 1px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
  }
  label #cancel {
    z-index: 1111;
    color: #0a5275;
    transition: all 0.5s ease;
    right: 6vw !important;
  }
  #check:checked ~ .sidebar {
    left: 44%;
  }
  #check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    /* left: 88%; */
  }
  #check:checked ~ section {
    margin-left: 250px;
  }

  /* end-sidebar */

#header {
  overflow: hidden;
  margin: 0;
  height: 6vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  /* flex-direction: row; */
  background-color: white;
  justify-content: space-between;
  box-shadow: 15px;
  z-index: 999;
}

#particles-js {
  /* display: none; */
}

.content {
  display: flex;
  width: 100%;
  height: 100vh;
  /* margin: 45vh 0 0 0; */
}
#toTopBtn{
  display: block;
  width: 150;
  height: 150;
  position: fixed;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  bottom: 3%;
  right: 3%;
  z-index: 9999999;
  }
  #toTopBtn.show {
    opacity: 1;
    visibility: visible;
  }
/* #svg-m {
  position: relative;
}

#svgd {
  display: none;
} */

/* #header {
  overflow: hidden;
  margin: 1vh 3vw;
  height: 5vh;
  width: 95vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
} */

#header i {
  display: flex;
    right: 6%;
    position: relative;
}

#header svg {
  position: relative;
  /* left: 10%; */
  width: 40%;
}

#header #end {
  display: flex;
  align-self: flex-end;
  display: none;
}

  #header > #center {
    font-family: raleway;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    display: none;
  }

  #footer1 {
    display: none;
  }

  #footer {
    display: none;
  }

  /* SVG */

    /* start toggle theme BUTTON css */
    
    .rectacngleStroke {
      stroke: #E30A3E;
      stroke-width: 30;
      stroke-miterlimit: 22.9256
  }
  
  .rectangleFill {
      fill: none
  }
  
  .circleFill {
      fill: #E30A3E;
      transform: translateX(0px);
      transition: 1s;
  }
  
  .moonFill {
      fill: #646464;
      transition: 1s;
  }
  
  .sunFill {
      fill: #FEFEFE;
      transition: 1s;
  }
  
  .dark .moonFill {
      fill: white;
      transition: 1s;
  }
  
  .dark .sunFill {
      fill: #646464;
      transition: 1s;
  }
  
  .dark .circleFill {
      transform: translateX(-800px);
      transition: 1s;
  }
  /* END toggle theme BUTTON css */
  /* start CORNER LOGO css */
  
  .CornerLogoTextFill {
      fill: black;
      transition: 1s;
  }
  
  .CornerLogoShapeFill {
      fill: #EA1828
  }
  
  .CornerLogoTextFill {
      fill: #37474F;
      transition: 1s;
  }
  
  .dark .CornerLogoTextFill {
      fill: white;
      transition: 1s;
  }
  /* END CORNER LOGO css */


  /* START SERVICES SVG */
  #Soft_Dev{
      width: 25vw;
      height: 25vh;
  }
  #D_Trans{
      width: 25vw;
      height: 25vh;
  }
  #Subs{
      width: 25vw;
      height: 25vh;
  }


  #pzl2 {
      animation-duration: 2s;
      animation-name: pzl2anm;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  
  @keyframes pzl2anm {
      0% {
          transform: translateY(-30px) translateX(30px);
      }
      40% {
          transform: translateY(0) translateX(0);
      }
      60% {
          transform: translateY(0) translateX(0);
      }
      100% {
          transform: translateY(-30px) translateX(30px);
      }
  }
  
  #pzl3 {
      animation-duration: 2s;
      animation-name: pzl3anm;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  
  @keyframes pzl3anm {
      0% {
          transform: translateY(30px) translateX(-30px);
      }
      40% {
          transform: translateY(0) translateX(0);
      }
      60% {
          transform: translateY(0) translateX(0);
      }
      100% {
          transform: translateY(30px) translateX(-30px);
      }
  }
  
  #pzl4 {
      animation-duration: 2s;
      animation-name: pzl4anm;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  
  @keyframes pzl4anm {
      0% {
          transform: translateY(15px) translateX(15px);
      }
      40% {
          transform: translateY(0) translateX(0);
      }
      60% {
          transform: translateY(0) translateX(0);
      }
      100% {
          transform: translateY(15px) translateX(15px);
      }
  }
  
   /* END SERVICES SVG */


   /* START Social Media SVG */
   .Instafil {fill:blue;fill-rule:nonzero}
   /* .dark .Instafil {fill:white;fill-rule:nonzero} */
   
   /* END Social Media SVG */


  /* END SVG */

  /* ======================================== Page 1 ================================================= */

  #page1 > #mainPage {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  
  #page1 > #mainPage > #leftSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10vmin;
    font-size: 2em;
  }

  #upperCards p 
  {
      font-size: 2em;
  }

  #type{
      font-size: 1em !important;
  }

  #typedEn{
    font-size: 1.3em;
  } 
  /* ======================================== END Page 1 ================================================= */

  /* ======================================== Page 2 ================================================= */

  #page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #page2 > #service {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #page2 > #service > h1 {
    transform: rotate(-0deg);
    font-size: 7em;
    color: white;
    background-color: #E30A3E;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Abel;
    line-height: 63.72px;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;

  }

  #page2 #mainWrapper 
  {
      display: none;
  }
  #page2 #m-service {
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  }

  #page2 #m-service .carousel {
    margin: 21% 60px;
    margin-top: 48%;
    width: 100%;
  }

  #page2 #m-service .carousel .flickity-page-dots {
    bottom: 100%;
  }

  #page2 #m-service .carousel .flickity-page-dots .dot {
    height: 5px;
    width: 40px;
    margin: 10;
    border-radius: 0;
    background: #e30a3e;
  }

  #page2 #m-service .carousel .flickity-viewport {
    height: 100% !important;
    touch-action: pan-y;
  }

  #page2 #m-service .carousel .card {
    /* background: hotpink; */
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

  }

  #page2 #m-service .carousel .card .card-content {
    font-size: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #page2 #m-service .carousel .card .card-content h2 {
   width: 62%;
   text-align: center;
  }

  #page2 #m-service .carousel .card .card-content p {
    width: 71%;
    text-align: justify;
  }

  #page2 #m-service .carousel .card .card-content #p-card {
    width: 60%;

  }

  #page2 > #m-service .carousel .card .card-content #outerLine {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 4.5vh;
    color: #e30a3e;
    border: 0.3vmin solid #e30a3e;
    border-radius: 80px;
    cursor: pointer;
  }

  #page2 #m-service .carousel .card .card-content .content-m {
    color: #e30a3e;
    border: 0.3vmin solid #e30a3e;
    border-radius: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    display: none;
  }

  #page2 #m-service .carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }

  #page2 #m-service .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  #page2 #m-service .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #333;
  }

  #page2 #m-service.flickity-prev-next-button:hover {
    background: #F90;
  }

  #page2 #m-service .flickity-prev-next-button .arrow {
    fill: white;
  }

  #page2 #m-service .flickity-prev-next-button.no-svg {
    color: white;
  }

  #page2 #m-service .flickity-prev-next-button.previous {
    left: -40px;
  }

  #page2 #m-service .flickity-prev-next-button.next {
    right: -40px;
  }


  /* ======================================== END  2 ================================================= */

  /* ======================================== Page 3 ================================================= */

  
  .container section:nth-child(3) {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0 0 35vh 0;
  }

#page3 {
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page3 > #about {
  display: flex;
    justify-content: center;
    width: 100%;
}

#page3 > #about > h1 {
    transform: rotate(-0deg);
    font-size: 7em;
    color: white;
    background-color: #E30A3E;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Abel;
    line-height: 63.72px;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
}

.about-cont {
  display: block;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.about-cont .card-1 {
  width: 90%;
  height: auto;
  display: flex;
  /* justify-content: center; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  text-align: initial;
}
 
.about-cont .card-1 p {
  font-weight: 400;
  width: 85%;
  
}

.about-cont .card-1 h1 {
  color: #e30a3e;
  width: 91%;
  font-size: 2.2em;
  font-weight: 700;
}

#proses-m {
  color: #e30a3e;
    width: 70%;
    font-size: 4.2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.about-cont .card-1 span {
  color: #e30a3e;
}
.about-cont .card-1 #red {
  margin: 1vh 8vw 1vh 5vw;
  width: 16%;
  height: 0;
  border-bottom: 0.6vh solid red;
  display: flex;
  align-self: flex-start;
}
.about-cont .carousel {
  width: 100%;
  height: 35vh;
}

.about-cont .carousel .flickity-viewport {
  height: 100% !important;
}

.about-cont .carousel .card-content {
  position: absolute;
  display: flex;
  left: 0%;
  align-items: center;
  height: 70%;
  font-size: 3em;
}

.about-cont .carousel .card-content p {
  height: 40%;
}


.about1-m {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
  display: none;

}

.about1-m .card-1 {
  width: 70%;
  height: auto;
  /* display: flex; */
  /* justify-content: center; */
  font-size: 2em;
}

.about1-m .card-1 p {
  font-weight: 400;
  
}

.about1-m .card-1 h1 {
  color: #e30a3e;
}

.about1-m .card-1 span {
  color: #e30a3e;
}
.about1 .card-1 #red {
  margin: 3vh 0 1vh 0;
  width: 20%;
  height: 0;
  border-bottom: 0.6vh solid red;
}

.about1-m .card-2 {
  width: 70%;
  /* display:flex; */
  font-size: 1.5em;
  height: auto;
}

.about1-m .card-2 .card-content {
  display: flex;
  font-weight: 400;
}

.about1-m .card-2 .card-content #red {
  margin: 7vh 0 1vh 0;
  width: 50%;
  height: 0;
  border-bottom: 0.6vh solid red;
}

.about1 {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
  display: none;
}

.about1 .card-1 {
  width: 70%;
  height: auto;
  /* display: flex; */
  /* justify-content: center; */
  font-size: 2em;
}

.about1 .card-1 p {
  font-weight: 400;
  
}

.about1 .card-1 h1 {
  color: #e30a3e;
}

.about1 .card-1 span {
  color: #e30a3e;
}
.about1 .card-1 #red {
  margin: 3vh 0 1vh 0;
  width: 20%;
  height: 0;
  border-bottom: 0.6vh solid red;
}

.about1 .card-2 {
  width: 70%;
  /* display:flex; */
  font-size: 1.5em;
  height: auto;
}

.about1 .card-2 .card-content {
  display: flex;
  font-weight: 400;
}


.about1 .card-2 .card-content #red {
  margin: 7vh 0 1vh 0;
  width: 50%;
  height: 0;
  border-bottom: 0.6vh solid red;
}

svg.lbulb {
  width: 40mm;
  height: 40mm;
}

svg.wrenchID {
  width: 40mm;
  height: 40mm;
}

svg.twoCouple {
  width: 40mm;
  height: 40mm;
}

svg.LaptopID {
  width: 40mm;
  height: 40mm;
}
svg.SmartphoneID {
  width: 40mm;
  height: 40mm;
}
#plus {
  margin-left: 3vw;
  width: 10vw;
  color: #e30a3e;
  font-family: inter;
}
#plus > h3 {
  width: 130%;
  height: 10%;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  transition: var(--transition-delay);
  border-radius: 100%;
  border: 0.1vh solid #E30A3E;
}
.about2 {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* width: 100vw; */
  justify-content: space-around;
  /* flex-direction: column-reverse; */
  display: none;
}
.about2-mobile {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* width: 100vw; */
  justify-content: space-around;
  /* flex-direction: column-reverse; */
  height: 70vh;
  
}

.about2-mobile .group1 {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 100%;
}

.about2-mobile #grup {
  display: flex;
  height: 100%;
  width: 100%;
}

.group1 .gr2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gr2 .card {
  width: 33vw;
  /* border: 2px solid #ffffff; */
  box-sizing: border-box;
  border-radius: 15px;
  /* background-color: yellow; */
}

.gr2 .card .card-image {
  display: flex;
  justify-content: center;
  height: 100%;
}

.gr2 .card .card-us1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #e30a3e;
  height: 52%;
  width: 33vw;
  font-size: 1.5em;
}

/* .gr2 .card .card-us1 #lol{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hvr {
  position: relative;
  width: 100%;
  /* transition: .5s ease; */
}

.overlaytxt {
  position: absolute;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  height: 65%;
  width: 100%;
  opacity: 0;
  /* transition: .5s ease; */
  /* display: none; */
}

.overlaytxt:hover {
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
}

.hvr:hover {
  opacity: 1;
  /* background-color: #008CBA; */
  background: linear-gradient(47.66deg, #fd5f7a 0%, #fae4ae 100%);
  border-radius: 15px;
  /* transition: .5s ease; */
  /* transition: background-color .5s; */
}

.txtt {
  color: #f2f2f2;
  font-size: 16px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-card {
  position: relative;
  width: 20vw;
  /* display: flex;
  align-content: center; */
}
.container-car img {
  width: 10vw;
  display: flex;
  /* justify-content:center; */
}
.container-card .card-us1 {
  background-color: #fd5f7a;
  width: 24.6vw;
  border-radius: 15px;
  z-index: 99999;
}

.card-us1 .desk {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.card-us1 .desk p {
  margin: 0;
}

.card-us1 .icon {
  display: none;
}

.card-us1 .icon .abouti {
  margin: 5px;
}

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  width: 24.6vw;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(47.66deg, #fd5f7a 0%, #fae4ae 100%);
  border-radius: 15px;
} */

.container-card:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  
    
  /* }
  .container section:nth-child(3) {
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .group1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
  } */
  /* ======================================== END 3 ================================================= */

  /* ======================================== Page 4 ================================================= */

  .container section:nth-child(4) {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #page4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130%;
  }

  
  #page4 > #portofolio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Abel;
    color: #e30a3e;
    width: 100%;

  }

  #page4 > #portofolio > h1 {
    transform: rotate(-0deg);
    font-size: 7em !important;
    color: white;
    background-color: #E30A3E;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Abel;
    line-height: 63.72px;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
  }

  
#page4 > #portofolio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Abel;
    color: #e30a3e;
  }
  
  #page4 > #portofolio > h1 {
    transform: rotate(-0deg);
    font-size: 2.5em;

  }
  
  #page4 > #mainWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #page4 > #mainWrapper > #leftSide {
    width: 80%;
    height: 100%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: flex-start;
  }

  #page4 > #mainWrapper > #leftSide > #pinkColor {
    margin: 0 0 5vh 0;
    font-size: 4em;
    font-weight: bold;
    color: #e30a3e;
  }
  
  
  #page4 > #mainWrapper > #rightSide {
    width: 40%;
    height: 100%;
    margin: 0 25% 0 10%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }
  
  
#page4 > #mainWrapper > #leftSide .carousel {
  width: 100%;
  height: 50%;
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  /* background: #333; */
  color: black;
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-page-dots {
  position: absolute;
    width: 100%;
   top: 160%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button:hover {
  background: #f90;
}

#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button .arrow {
  fill: black;
}
#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button .arrow {
  fill: black;
}


#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button.no-svg {
  color: white;
}

#page4
  > #mainWrapper
  > #leftSide
  .carousel
  .flickity-prev-next-button.previous {
  left: -40px;
}
#page4 > #mainWrapper > #leftSide .carousel .flickity-prev-next-button.next {
  right: -40px;
}

#page4 > #mainWrapper > #leftSide .carousel .card-horizontal {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
 }
 
 #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .content-c {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   width: 100%;
  }
 
  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .tit h3 {
    margin: 1em 0 0 0;
    font-size: 3em;
  }
 
  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .tit #redLine {
   margin: 1vh 0 4vh 0;
   width: 87%;
   height: 0;
   border-bottom: 0.5vh solid #E30A3E;
 }
 
  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .content-c .card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  }

  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .card-image img {
    width: 40%;
    background-color: #4e596f;
    height: 7vh;
  }
 
  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .content-c .p {
   width: 100%;
   text-align: justify;
   display: flex;
   justify-content: center;
   font-size: 2em;
  }

  #page4 > #mainWrapper > #leftSide .carousel .card-horizontal .content-c .p p {
    width: 85%;
    margin: 3vh 0 0 0;
   }
 
 
 

 
 #page4 > #mainWrapper > #leftSide .carousel .flickity-slider {
   display: flex;
   align-items: center;
 }
 
 /* #page4 > #mainWrapper > #leftSide .carousel .card-horizontal p {
   width: 70%;
   text-align: justify;
 } */

#page4 > #mainWrapper > #leftSide .carousel .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 5;
  border-radius: 0;
  background: #e30a3e;
}
  
  #page4 > #mainWrapper > #rightSide > #pinkColor {
    margin: 0 0 5vh 0;
    font-size: 4em;
    font-weight: bold;
    color: #e30a3e;
  }

  #page4 > #mainWrapper > #rightSide {
    width: 70%;
    height: 100%;
    margin: 0 25% 0 10%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    /* background-color: lawngreen; */
  }
  
   #page4 > #mainWrapper > #rightSide .carousel {
    background: none;
    width: 120%;
  }
  #page4 > #mainWrapper > #rightSide .carousel .flickity-viewport {
    height: 153.562px !important;
    touch-action: pan-y;
    background-color: white;
    border-radius: 15px;
    border: none;
  }

  #page4 > #mainWrapper > #rightSide .carousel .card-image {
    margin: 5%;
    width: 25%;
    height: 60%;
  }

  #page4 > #mainWrapper > #rightSide .slideshow {
    margin-top: calc(50vh - 47vh);
    padding-bottom: 15vw;
    margin: 0 -10vw 0 3vw;
  }

  #page4 > #mainWrapper > #rightSide .slideshow img {
    padding-right: 10%;
    width: 35%;
    
   }


  /* ======================================== END 4 ================================================= */
  /* ======================================== Page 5 ================================================= */


  .container section:nth-child(5) {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 130vh;
  }

  #page5 {
    display: flex;
    flex-direction: column;
  }

  #page5 > #contact {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #page5 > #contact > h1 {
    transform: rotate(-0deg);
    font-size: 7em;
    color: white;
    background-color: #E30A3E;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Abel;
    line-height: 63.72px;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
  }

  #page5 > #mainWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    font-size: 1.5em;
  }

  #page5 > #mainWrapper #leftSide form {
    height: 30vh;
   
  }
  
#page5 > #mainWrapper > #leftSide {
  margin: 0 0 0 5%;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page5 > #mainWrapper > #leftSide > p {
  margin: 0%;
  font-size: 1.5em;
}

#page5 > #mainWrapper > #leftSide > #pinkColor {
  margin: 0 0 5vh 0;
  font-size: 1.8em;
  font-weight: bold;
  color: #e30a3e;
}

#page5 > #mainWrapper > #leftSide > #my-form > input {
  border: 0;
  background-color: transparent;
  border-bottom: 0.3vh solid #e30a3e;
  height: 15%;
  width: 100%;
  font-size: 1.2em;
  margin: 0 0 1vh 0;
}

#page5 > #mainWrapper > #leftSide > #my-form > textarea {
  border: 0;
  background-color: transparent;
  border-bottom: 0.3vh solid #e30a3e;
  height: 40%;
  width: 100%;
  font-size: 1.2em;
  margin: 0 0 1vh 0;
}

#page5 > #mainWrapper > #leftSide > #my-form > #Request {
  border: 0;
  background-color: transparent;
  border-bottom: 0.3vh solid #e30a3e;
  height: 15%;
  width: 100%;
  font-size: 1.2em;
  margin: 0 0 1vh 0;
}

#page5 > #mainWrapper > #leftSide > #my-form > #messageX {
  display: flex;
  justify-content: flex-end;
}

#submitBtn {
  background-color: #e30a3e;
  width: 10vmin;
  height: 7vmin;
  border-radius: 10px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

#submitBtn i {
  margin-bottom: 5px;
}
#envelope {
  color: white;
}
#page5 > #mainWrapper > #rightSide {
  width: 85%;
  height: 100%;
  margin: 5% 10% 0 10%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

#page5 > #mainWrapper > #rightSide > #header1 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

#page5 > #mainWrapper > #rightSide > #subheader {
  font-size: 1.3em;
  margin-top: 1vh;
}
#Formstatus {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#page5 > #mainWrapper > #rightSide > #email {
  cursor: pointer;
  color: #88004f;
  user-select: none;
  margin: 1vh 0 0 0;
}

#page5 > #mainWrapper > #rightSide > #phone {
  margin: 1vh 0 0 0;
  font-size: 1.3em;
}

#page5 > #mainWrapper > #rightSide > #logos {
  display: none;
}



#page5 > #mainWrapper > #rightSide > #logos1 {
  width: 100%;
  margin: 2vh 0;
  display: flex;
  justify-content: space-around;
}

#page5 > #mainWrapper > #rightSide > #logos2 {
  width: 100%;
  margin: 2vh 0;
  display: flex;
  justify-content: space-around;
}

#page5 > #mainWrapper > #rightSide > #logos1 > #greyWrapper {
  background-color: #adb7cb;
  width: 10vmin;
  height: 10vmin;
  margin: 0 5% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  color: white;
}

#page5 > #mainWrapper > #rightSide > #logos2 > #greyWrapper {
  background-color: #adb7cb;
  width: 10vmin;
  height: 10vmin;
  margin: 0 5% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  color: white;
}

#page5 > #mainWrapper > #rightSide > #maps {
  width: 80vw;
  height: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darksalmon;
}

#page5 > #mainWrapper > p {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

#page5 > #mainWrapper > #leftSide > #send {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 5vmin;
  height: 5vmin;
  background-color: #e30a3e;
}
  /* ======================================== END 5 ================================================= */
  /* ======================================== Page 6 ================================================= */

  .container section:nth-child(6) {
    min-width: 100%;
    height: 100%;
  }

  #page6{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

#page6 > #blog {
  display: flex;
  justify-content: center;
  width: 100%;
}

#page6 > #blog > h1 {
  transform: rotate(-0deg);
  font-size: 7em;
  color: white;
  background-color: #E30A3E;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Abel;
  line-height: 63.72px;
  font-style: normal;
  font-weight: normal;
  line-height: 64px;
}

#page6 > #mainWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
}

#page6 > #mainWrapper > #leftSide {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  display: none;
}
#page6 > #mainWrapper > #mobile-side {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  display: none;
}

#page6 > #mainWrapper > #mobile-side #content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page6 > #mainWrapper > #mobile-side #center-content {
  display: flex;
  justify-content: center;
  color: #e30a3e;

}

#page6 > #mainWrapper > #mobile-side #content .row {
  display: flex;
}

#page6 > #mainWrapper > #mobile-side #content #out {
  display: flex;
  align-self: flex-start;
}

#page6 > #mainWrapper > #mobile-side #content .row #outerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  width: 26vw;
  height: 5vh;
  color: #e30a3e;
  border: 0.3vmin solid #e30a3e;
  border-radius: 15px;
  cursor: pointer;
  align-self: flex-end;
}

#page6 > #mainWrapper > #mobile-side #content .row #outerLine:hover{
  background-color: #e30a3e;
  color: white;
  transition: background-color 0.5s;
}
/* 
#page6 > #mainWrapper > #mobile-side > .row {
  margin: 0 1% 0 0;
} */

/* #page6 > #mainWrapper > #mobile-side > .row > #outerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  width: 8vw;
  height: 6vh;
  color: #e30a3e;
  border: 0.3vmin solid #e30a3e;
  border-radius: 15px;
  cursor: pointer;
  align-self: flex-end;
} */
/* 
#page6 > #mainWrapper > #mobile-side .row #outerLine:hover {
  background-color: #e30a3e;
  color: white;
  transition: background-color 0.5s;
} */

#page6 > #mainWrapper > .carousel {
  background: transparent;
  width: 60%;
  height: 50%;
  display: none;
}


#page6 > #mainWrapper > .m-carousel {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 5%;
}

#page6 > #mainWrapper > .m-carousel .carousel {
  background: #FAFAFA;
  margin: 0 60px; /* space for prev/next buttons */
}

#page6 > #mainWrapper > .m-carousel .carousel .carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

#page6 > #mainWrapper > .m-carousel .carousel .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

#page6 > #mainWrapper > .m-carousel .carousel .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
}

#page6 > #mainWrapper > .m-carousel .carousel .flickity-prev-next-button:hover {
  background: #F90;
}

#page6 > #mainWrapper > .m-carousel .carousel .flickity-prev-next-button .arrow {
  fill: white;
}

#page6 > #mainWrapper > .m-carousel .carousel .flickity-prev-next-button.no-svg {
  color: white;
}

#page6 > #mainWrapper > .m-carousel .carousel .flickity-prev-next-button.previous {
  left: -40px;
}

#page6 > #mainWrapper > .m-carousel .carousel .flickity-prev-next-button.next {
  right: -40px;
}

#page6 > #mainWrapper > .m-carousel .carousel .flickity-page-dots .dot {
  height: 5px;
  width: 40px;
  margin: 10;
  border-radius: 0;
  background: #e30a3e;
}

#page6 > #mainWrapper > .m-carousel .carousel .flickity-page-dots {
  bottom:-6%;
}

/* #page6 > #mainWrapper > .m-carousel .carousel .flickity-viewport{
  height: 592.609px;
  touch-action: pan-y;
  width: 50%;
} */


#page6 > #mainWrapper > .m-carousel .carousel .card {
  width: 100%;
  height: 30vh;
  background: linear-gradient(180deg, #88004f 0%, #e30a3e 100%);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 30px 0px;
}

#page6 > #mainWrapper > .m-carousel .carousel .card #text {
  width: 100%;
  font-size: 1.5em;
}

#page6 > #mainWrapper > .m-carousel .carousel .card #text #content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-left: 10%;
}


#page6 > #mainWrapper > .m-carousel .carousel .m-blog .card #text #content #paragrap {
  width: 100%;
  margin-left: 10%;
}

#page6 > #mainWrapper > .m-carousel .carousel .card #text #content  #centre {
  display: flex;
  justify-content: flex-end;
  width: 102%;
}

#page6 > #mainWrapper > .m-carousel .carousel .card #text #content #paragrap #bold {
  font-weight: 700;
}

#page6 > #mainWrapper > .m-carousel .carousel .card #text #content #outerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 0;
  width: 30%;
  height: 3.7vh;
  color: white;
  border: 0.3vmin solid white;
  border-radius: 24px;
  cursor: pointer;
  align-self: flex-end;
}

#page6 > #mainWrapper > .m-carousel .carousel .card #text #content #outerLine p {
  margin: 1vmin;
  font-family: "Abel", sans-serif;
  font-size: 1em;
}
    


#page6 > #mainWrapper > .m-carousel .carousel .card p {
  color: white;
}

#page6 > #mainWrapper > .m-carousel .carousel .card .image {
  width: 100%;
  height: 52%;
  background-image: url("https://source.unsplash.com/1024x76mountains8/?");
  background-position: center center;
  background-repeat: no-repeat;
}

#page6 > #mainWrapper > .m-carousel .carousel .card > .image > .leftBox {
  width: 9vmin;
  height: 11vmin;
  background-color: #e30a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
}

#page6 > #mainWrapper > .m-carousel .carousel .card > .image > .leftBox > p {
  margin: 0;
}


#page6 > #mainWrapper > .m-carousel .carousel .card > #redLine {
  margin: 1vh 0 1vh 0;
  width: 20%;
  height: 0;
  border-bottom: 0.3vh solid red;
}

#page6 > #mainWrapper > .m-carousel .carousel .card > p {
  margin: 0 0 1vh 1vw;
}

#page6 > #mainWrapper > .m-carousel .carousel .card > #outerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 0;
  width: 40%;
  height: 10%;
  color: white;
  border: 0.3vmin solid white;
  border-radius: 24px;
  cursor: pointer;
  align-self: flex-end;
}

#page6 > #mainWrapper > .m-carousel .carousel .card > #outerLine > p {
  margin: 1vmin;
  font-family: "Abel", sans-serif;
  font-size: 14px;
}

/* =========== */


#page6 > #mainWrapper > .endContent {
  background: #e30a3e;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  display: none;
}
#page6 > #mainWrapper > .endfooter {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #e30a3e ;
  /* font-weight: 1.8em; */
}

#page6 > #mainWrapper > .endfooter #logo {
  height: 8vh;
  display: flex;
}
#page6 > #mainWrapper > .endfooter #logo img {
 width: 8vmin;
}
   

#page6 > #mainWrapper > .endfooter #content-fot {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 17vh;
  font-size: 1.8em;
}

#page6 > #mainWrapper > .endfooter #content-fot #cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 0;
  width: 86%;
  height: 23%;
  color: white;
  border: 0.3vmin solid white;
  border-radius: 24px;
  cursor: pointer;
}


.mobile-card {
  display: flex;
  justify-content: center;
  margin: 19%;
  width: 95%;
  font-size: 1.5em;
  display: none;
}

.m-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* align-content: baseline; */
  height: 110%;
  width: 82%;
}


.m-blog .card {
  width: 100%;
  height: 34vh;
  background: linear-gradient(180deg, #88004f 0%, #e30a3e 100%);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  border-radius: 0px 0px 30px 0px;
}

.m-blog .card #text {
  width: 100%;
  font-size: 1.5em;
}

.m-blog .card #text #content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* margin-left: 10%; */
}

.m-blog .card #text #content #paragrap {
  width: 100%;
  margin-left: 10%;
}

.m-blog .card #text #content  #centre {
  display: flex;
  justify-content: flex-end;
  width: 102%;
}

.m-blog .card #text #content #paragrap #bold {
  font-weight: 700;
}

.m-blog .card #text #content #outerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 0;
  width: 30%;
  height: 3.7vh;
  color: white;
  border: 0.3vmin solid white;
  border-radius: 24px;
  cursor: pointer;
  align-self: flex-end;
}

.m-blog .card #text #content #outerLine p {
  margin: 1vmin;
  font-family: "Abel", sans-serif;
  font-size: 1em;
}
    


.m-blog .card p {
  color: white;
}

.m-blog .card .image {
  width: 100%;
  height: 52%;
  background-image: url("https://source.unsplash.com/1024x76mountains8/?");
  background-position: center center;
  background-repeat: no-repeat;
}

.m-blog .card > .image > .leftBox {
  width: 9vmin;
  height: 11vmin;
  background-color: #e30a3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
}

.m-blog .card > .image > .leftBox > p {
  margin: 0;
}


.m-blog .card > #redLine {
  margin: 1vh 0 1vh 0;
  width: 20%;
  height: 0;
  border-bottom: 0.3vh solid red;
}

.m-blog .card > p {
  margin: 0 0 1vh 1vw;
}

.m-blog .card > #outerLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 0;
  width: 40%;
  height: 10%;
  color: white;
  border: 0.3vmin solid white;
  border-radius: 24px;
  cursor: pointer;
  align-self: flex-end;
}

.m-blog .card > #outerLine > p {
  margin: 1vmin;
  font-family: "Abel", sans-serif;
  font-size: 14px;
}
  /* ======================================== END 6 ================================================= */


}