@import url("/index.css");
   /* start toggle theme BUTTON css */
    
    .rectacngleStroke {
        stroke: #E30A3E;
        stroke-width: 30;
        stroke-miterlimit: 22.9256
    }
    
    .rectangleFill {
        fill: none
    }
    
    .circleFill {
        fill: #E30A3E;
        transform: translateX(0px);
        transition: 1s;
    }
    
    .moonFill {
        fill: #646464;
        transition: 1s;
    }
    
    .sunFill {
        fill: #FEFEFE;
        transition: 1s;
    }
    
    .dark .moonFill {
        fill: white;
        transition: 1s;
    }
    
    .dark .sunFill {
        fill: #646464;
        transition: 1s;
    }
    
    .dark .circleFill {
        transform: translateX(-800px);
        transition: 1s;
    }
    /* END toggle theme BUTTON css */
    /* start CORNER LOGO css */
    
    .CornerLogoTextFill {
        fill: black;
        transition: 1s;
    }
    
    .CornerLogoShapeFill {
        fill: #EA1828
    }
    
    .CornerLogoTextFill {
        fill: #37474F;
        transition: 1s;
    }
    
    .dark .CornerLogoTextFill {
        fill: white;
        transition: 1s;
    }
    /* END CORNER LOGO css */
    /* START Laptop svg */
    #LaptopSVGMobile{
        display: none;
    }
    #LaptopSVGDesktop {
        width: 45vw;
        height: 72vh;
    }
    
    #Cogwheels {
        animation-duration: 2s;
        animation-name: CogwheelsHover;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes CogwheelsHover {
        from {
            transform: translateY(0) translateX(0);
        }
        to {
            transform: translateY(60px) translateX(-10px);
        }
    }
    
    #Cloud {
        animation-duration: 2s;
        animation-name: CloudHover;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes CloudHover {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(60px);
        }
    }
    
    #Isometric_Design:hover #Window_Profile {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transform: translateY(40px) translateX(-80px);
    }
    
    #Window_Profile {
        transform: translateY(0) translateX(0);
        transition: 1s;
    }
    
    #Isometric_Design:hover #Window_Shoppingcart {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transform: translateY(-180px) translateX(-150px);
    }
    
    #Window_Shoppingcart {
        transform: translateY(0) translateX(0);
        transition: 1s;
    }
    
    #Isometric_Design:hover #Window_HTML {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transform: translateY(-35px) translateX(50px);
    }
    
    #Window_HTML {
        transform: translateY(0) translateX(0);
        transition: 1s;
    }
    
    #Isometric_Design:hover #Float_Graph {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transform: translateY(155px) translateX(200px);
    }
    
    #Float_Graph {
        transform: translateY(0) translateX(0);
        transition: 1s;
    }
    /* END Laptop svg */

    /* START SERVICES SVG */
    #Soft_Dev{
        width: 25vw;
        height: 25vh;
    }
    #D_Trans{
        width: 25vw;
        height: 25vh;
    }
    #Subs{
        width: 25vw;
        height: 25vh;
    }


    #pzl2 {
        animation-duration: 2s;
        animation-name: pzl2anm;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes pzl2anm {
        0% {
            transform: translateY(-30px) translateX(30px);
        }
        40% {
            transform: translateY(0) translateX(0);
        }
        60% {
            transform: translateY(0) translateX(0);
        }
        100% {
            transform: translateY(-30px) translateX(30px);
        }
    }
    
    #pzl3 {
        animation-duration: 2s;
        animation-name: pzl3anm;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes pzl3anm {
        0% {
            transform: translateY(30px) translateX(-30px);
        }
        40% {
            transform: translateY(0) translateX(0);
        }
        60% {
            transform: translateY(0) translateX(0);
        }
        100% {
            transform: translateY(30px) translateX(-30px);
        }
    }
    
    #pzl4 {
        animation-duration: 2s;
        animation-name: pzl4anm;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes pzl4anm {
        0% {
            transform: translateY(15px) translateX(15px);
        }
        40% {
            transform: translateY(0) translateX(0);
        }
        60% {
            transform: translateY(0) translateX(0);
        }
        100% {
            transform: translateY(15px) translateX(15px);
        }
    }
    
     /* END SERVICES SVG */


     /* START Social Media SVG */
     .Instafil {fill:blue;fill-rule:nonzero}
     /* .dark .Instafil {fill:white;fill-rule:nonzero} */
     
     /* END Social Media SVG */

    /* start proses svg */
    .Lightbulbfill{
        fill: black;
        transition: 1s;
    }
    .dark .Lightbulbfill {
        fill:white;
        transition: 1s;
    }  
    .numberFont {fill:white;fill-rule:nonzero}
    .FIllnumbercircle{
        fill:#E30A3E
    }


    .wrenchfill {
        fill: black;
        transition: 1s;
    }
    .dark .wrenchfill {
        fill:white;
        transition: 1s;
    }

    .pplFill {
        fill:black;
        transition: 1s;
    }
    .dark .pplFill {
        fill:white;
        transition: 1s;
    }

    .lapFill{
        fill:black;
        transition: 1s;
    }
    .dark .lapFill{
        fill:white;
        transition: 1s;
    }
    .smphnFill{
        fill:black;
        transition: 1s;
    }
    .dark .smphnFill{
        fill:white;
        transition: 1s;
    }
    /* start toTopBTN */
    .xstroke0 {stroke: #E30A3E;stroke-width:100;stroke-miterlimit:22.9256}
    .xfillllllll0 {fill:white }
    .xfillllllll11 {fill:#E30A3E}
    /* end toTopBTN */
    /* start ClsBtn */
    .clsStroke0 {stroke:#E30A3E ;stroke-width:200;stroke-miterlimit:22.9256}
    .clsfillIn0 {fill:none}
    .XXXfil1 {fill:#E2093D}
    /* end ClsBtn */



    /* plus svg css */
@font-face { font-family:"Inter";font-variant:normal;font-weight:normal;src:url("#FontID0") format(svg)}
.stroke0 {stroke:#E30A3E;stroke-width:20;stroke-miterlimit:22.9256}
.fillllllll0 {fill:none}
.fillllllll11 {fill:#E30A3E}
.fooont0 {font-weight:normal;font-size:846.67px;font-family:'Inter'}
 
        /* equal svg css */
        @font-face { font-family:"Inter";font-variant:normal;font-weight:normal;src:url("#FontID0") format(svg)}
.eqstroke {stroke:#E30A3E;stroke-width:20;stroke-miterlimit:22.9256}
.eqfill0 {fill:none}
.eqfill1 {fill:#E30A3E}
.eqfont0 {font-weight:normal;font-size:846.67px;font-family:'Inter'}
    /* end proses svg */
     @media (max-width: 991px) {

        #LaptopSVGDesktop {
          display: none;
              }
              #LaptopSVGMobile{
                  display: block;
              }

     }